---
import Navigation from "@/components/Navigation";
import "../styles/global.css";
import { getCollection } from "astro:content";
import Footer from "@/components/Footer";
import { SEOData } from "../types";

const navigations = await getCollection("navigations");
const mainNavigation = navigations.find(({ data: nav }) => nav.navigationId === "main");
const footerNavigations = navigations.filter(({ data: nav }) => nav.showInFooter === true);

const { seo } = Astro.props;

const defaultSEO: SEOData = {
  title: "Collectify - Asystent Klasowego Skarbnika",
  description: "Collectify to Twoje rozwiązanie do perfekcyjnej organizacji zbiórek gotówkowych w klasie! Ta aplikacja została stworzona z myślą o klasowych skarbnikach, którzy chcą uporządkować proces zbierania pieniędzy od wszystkich uczniów.",
  keywords: "collectify, skarbnik, klasowy, zbiórka, gotówka, aplikacja, organizacja, szkoła",
  url: "https://collectify.tech/",
  author: "Refady Software",
  publisher: "Refady Software",
  image: {
    url: "/cover.png"
  }
};

const pageSeo = {
  ...defaultSEO,
  ...seo
};
---

<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{pageSeo.title}</title>
  <meta name="description" content={pageSeo.description} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={pageSeo.url} />
  <meta property="og:title" content={pageSeo.title} />
  <meta property="og:description" content={pageSeo.description} />
  <meta property="og:image" content={pageSeo.image.url} />

  <meta name="author" content={pageSeo.author} />
  <meta name="publisher" content={pageSeo.publisher} />
  <meta name="keywords" content={pageSeo.keywords} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={pageSeo.title} />
  <meta name="twitter:description" content={pageSeo.description} />
  <meta name="twitter:image" content={pageSeo.image.url} />

  <link rel="canonical" href={pageSeo.url} />
  <meta name="robots" content="index, follow" />


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body class="bg-background text-text font-display dark overflow-x-hidden min-h-screen grid grid-rows-[1fr_auto]">
<Navigation navItems={mainNavigation?.data.items} client:only />
<div class="w-full max-w-[1200px] mx-auto px-[30px] max-[1200px]:overflow-x-hidden">
  <slot />
</div>
<Footer menus={footerNavigations} />
</body>
</html>
